<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Modifier l\'utilisateur' : 'Ajouter un utilisateur' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bloqué</ion-label>
      <ion-checkbox formControlName="isBlocked"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="userForm.invalid">
      {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
    </ion-button>
  </form>
</ion-content>
